Repository yj9107v/busking_project, pull requests merged in 2025-06, with the labels that each got.

#8 [TEST] CI 테스트용 커밋
  frontend/test-ci.md
Labels: 🐣 Ci, ☑️ Test

#13 [FIX] frontend unused method fix
  README.md
  frontend/src/components/buskingManager.js
  frontend/src/pages/promotion/PromotionCreatePage.js
Labels: 🐣 Ci, 🛠️ Fix, ☑️ Test

#14 [CI] buskingManager 수정 및 CI test trigger 3
  README.md
  frontend/src/components/buskingManager.js
Labels: 🐣 Ci, 🛠️ Fix, ☑️ Test

#15 [TEST] CI 테스트
  backend/src/test/java/busking/busking_project/user/AuthControllerTest.java
Labels: 🐣 Ci, ☑️ Test

#18 [TEST] test code 수정
  backend/src/test/java/busking/busking_project/user/AuthControllerTest.java
Labels: 🐣 Ci, ☑️ Test

#19 [TEST] 경로 수정
  backend/src/test/java/busking/busking_project/user/AuthControllerTest.java
Labels: 🐣 Ci, ☑️ Test

#23 [TEST] Github PR rules test_2
  backend/README.md
  frontend/README.md
Labels: 🐣 Ci, ☑️ Test

#28 [TEST] 회원가입, 로그인 요청 테스트코드 작성
  backend/build.gradle
  backend/src/main/java/busking/busking_project/SecurityConfig.java
  backend/src/main/java/busking/busking_project/user/AuthService.java
  backend/src/test/java/busking/busking_project/user/AuthControllerTest.java
  backend/src/test/resources/application-test.yml
Labels: ☑️ Test

#30 [TEST] PromotionPost에 대한 테스트코드 작성
  backend/build.gradle
  backend/src/main/java/busking/busking_project/Busking_Schedule/BuskingSchedule.java
  backend/src/main/java/busking/busking_project/Comment/Comment.java
  backend/src/main/java/busking/busking_project/board/BoardPost.java
  backend/src/main/java/busking/busking_project/location/Location.java
  backend/src/main/java/busking/busking_project/promotion/PromotionPost.java
  backend/src/main/java/busking/busking_project/promotion/PromotionPostService.java
  backend/src/main/java/busking/busking_project/promotion/dto/PromotionPostRequest.java
  backend/src/main/java/busking/busking_project/review/Review.java
  backend/src/main/java/busking/busking_project/user/User.java
  backend/src/test/java/busking/busking_project/common/TestDataFactory.java
  backend/src/test/java/busking/busking_project/promotion/PromotionPostControllerTest.java
  backend/src/test/java/busking/busking_project/promotion/PromotionPostFlowIntegrationTest.java
  backend/src/test/java/busking/busking_project/promotion/PromotionPostRepositoryTest.java
  backend/src/test/java/busking/busking_project/promotion/PromotionPostServiceTest.java
  backend/src/test/java/busking/busking_project/promotion/README.md
Labels: ☑️ Test
